.footer {
  background-image: url("../../../../public//footer-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 150px 0px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #0e6194, $alpha: 0.8);
    z-index: 0;
  }
  h2 {
    margin: 0;
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 999;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 50px;
  }
  .provider {
    position: relative;
    z-index: 999;
    color: #fff;
    display: flex;
    justify-content: center;
    .provider-item {
      display: flex;
      align-items: center;
      &:not(:nth-last-child(1)) {
        margin-right: 50px;
      }
      &:nth-child(1) {
        width: 150px;
        // background-color: #fff;
      }
      &:nth-child(2) {
        align-items: flex-start;
        .provider-image {
          img {
            width: 35px;
          }
        }

        .provider-name {
          h3 {
            padding-top: 3px;
          }
          p {
            font-size: 17px;
          }
        }
      }
      &:nth-child(3) {
        width: 150px;
      }
      .provider-image {
        img {
          width: 50px;
        }
        margin-right: 10px;
      }
      .provider-name {
        h3 {
          margin: 0;
          font-weight: 900;
          font-size: 15px;
        }
        p {
          margin: 0;
          font-weight: 300;
          font-size: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    padding: 50px 0px;
    .provider {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .provider-item {
        border: 1px solid #fff;
        border-radius: 10px;
        min-width: 300px;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center !important;
        &:not(:nth-last-child(1)) {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
