@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.berita {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0px 150px;
  font-family: "Poppins", sans-serif;
  // background-color: antiquewhite;
  h2 {
    color: #1f73a5;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
  }
  .berita-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // background-color: #fff43f;
    a {
      text-decoration: none;
      color: #fff;
    }
    .berita-item {
      background-color: #3178a4;
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      width: 500px;
      transform: scale(1);
      transition: transform 0.2s ease-in-out;
      margin-bottom: 20px;
      .berita-gambar {
        margin-right: 20px;
        width: 150px;
        height: 100%;
        // background-color: antiquewhite;
        img {
          width: 150px;
          height: 100%;
          object-fit: cover;
        }
      }
      .berita-desc {
        .berita-date {
          font-size: 15px;
          font-weight: 700;
          display: flex;
          align-items: center;
          .date-icon {
            margin-right: 5px;
          }
          margin-bottom: 10px;
        }
        h4 {
          margin: 0;
          font-size: 17px;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
        }
        p {
          margin: 0;
          font-size: 13px;
          line-height: 15px;
          text-align: justify;
        }
      }
      &:hover {
        transform: scale(1.05);
        .berita-desc {
          h4 {
            color: #fff43f;
          }
        }
      }
    }
  }
  @media screen and(max-width:1450px) {
    padding: 100px 30px;
    .berita-content {
      .berita-item {
        width: 350px;
      }
    }
  }
  @media screen and(max-width:1280px) {
    padding: 100px 30px;
    h2 {
      margin-top: 0px;
      margin-bottom: 50px;
    }
    .berita-content {
      .berita-item {
        width: 300px;
        flex-direction: column;
        .berita-gambar {
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
          margin-right: 0px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media screen and(max-width:850px) {
    padding: 100px 30px;
    h2 {
      margin-top: 0px;
      margin-bottom: 50px;
    }
    .berita-content {
      flex-wrap: wrap;
      justify-content: space-evenly;
      .berita-item {
        width: 300px;
        margin: 0 !important;
        margin-bottom: 20px !important;
        flex-direction: column;
        .berita-gambar {
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
          margin-right: 0px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media screen and(max-width:739px) {
    padding: 100px 30px;
    h2 {
      margin-top: 0px;
      margin-bottom: 50px;
    }
    .berita-content {
      flex-wrap: wrap;
      justify-content: space-evenly;
      .berita-item {
        width: 100%;
        padding: 30px;
        margin: 0 !important;
        margin-bottom: 20px !important;
        flex-direction: column;
        .berita-gambar {
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
          margin-right: 0px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
