.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 100px;
  // transform: scale(1);

  .logo {
    @keyframes scaleLogo {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
    img {
      width: 500px;
      animation: scaleLogo 2s infinite;
    }
  }
  .countdown {
    .title {
      p {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin: 30px 0;
      }
    }
    .count {
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 20px;
      background-color: rgba($color: #000000, $alpha: 0.2);
      display: flex;
      font-size: 50px;
      color: #fff43f;
      font-weight: 900;
      & > div:not(:nth-last-child(1)) {
        margin-right: 20px;
        border-right: 1px solid #fff;
        padding-right: 20px;
      }
    }
  }
  @media screen and (max-width: 960px) {
    .countdown {
      .count {
        font-size: 35px;
      }
    }
  }
  @media screen and (max-width: 742px) {
    .countdown {
      .count {
        & > div {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
  @media screen and (max-width: 585px) {
    .countdown {
      .count {
        & > div {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 360px) {
    .logo {
      img {
        width: 300px;
      }
    }
  }
  @media screen and (max-width: 382px) {
    .countdown {
      .count {
        flex-wrap: wrap;
        // background-color: green;
        justify-content: space-evenly;
        & > div:not(:nth-last-child(1)) {
          margin-right: 0px;
          padding-right: 0px;
        }
        & > div:nth-child(1),
        > div:nth-child(2) {
          margin-bottom: 15px;
        }
        & > div {
          min-width: 100px;
          justify-content: center;
          border: 1px solid #fff;
          padding: 10px !important;
        }
      }
    }
  }
  @media screen and (max-width: 345px) {
    .countdown {
      .count {
        flex-wrap: wrap;
        // background-color: green;
        justify-content: space-evenly;
        & > div:not(:nth-last-child(1)) {
          margin-right: 0px;
          padding-right: 0px;
          margin-bottom: 0px;
        }
        & > div {
          min-width: 100%;
          justify-content: center;
          border: 1px solid #fff;
          border: none !important;
          padding: 0px !important;
          font-size: 40px;
        }
      }
    }
  }
}
