@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.rangkaian-kegiatan {
  background-image: url("../../../../../public/background-kegiatan.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #1f73a5, $alpha: 0.7);
    z-index: 0;
  }
  h4 {
    margin: 0;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    z-index: 999;
  }
  .rangkaian-acara {
    position: relative;
    z-index: 999;
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.25);
    border: #fff 1px solid;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    display: flex;
    & > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      h5 {
        font-size: 22px;
        color: #fff43f;
        font-weight: 900;
        text-align: center;
        margin: 0;
      }
      p {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin: 0;
      }
      &:not(:nth-last-child(1)) {
        border-right: 1px solid white;
      }
    }
  }
  @media screen and(max-width:1280px) {
    padding: 100px 100px;
  }
  @media screen and(max-width:1025px) {
    padding: 100px 30px;
    .rangkaian-acara {
      & > div {
        h5 {
          font-size: 17px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and(max-width:675px) {
    padding: 100px 30px;
    .rangkaian-acara {
      flex-wrap: wrap;
      align-items: flex-start;
      & > div {
        min-width: 200px;
        border: 0px !important;
        // background-color: #1f73a5;
      }
    }
  }
}
