.head {
  background: url("../../public/backgroundHeader.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px 0px 70px;
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  @media screen and(max-width:1280px) {
    padding: 30px 30px;
  }
  @media screen and(max-width:900px) {
    position: relative;
    overflow: hidden;
  }
}
