@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.lokasi-kegiatan {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0px;
  font-family: "Poppins", sans-serif;
  .title {
    h2 {
      color: #3178a4;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      margin: 0px;
    }
    margin-bottom: 100px;
  }
  .lokasi {
    display: flex;
    justify-content: center;
    position: relative;
    .item {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      transform: scale(1);
      transition: transform 0.2s ease-in-out;
      transition: width 0.3s ease-in-out;
      cursor: pointer;
      &.clicked {
        top: 0;
        position: relative;
        width: 100%;
        z-index: 99999;
        background-position: center;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
      }

      &:nth-child(1) {
        background-image: url("../../../../../public/kantor-gubernur.jpg");
        background-size: cover;
        background-position: center;
      }
      &:nth-child(2) {
        background-image: url("../../../../../public/gili-trawangan.jpg");
        background-size: cover;
        margin: 0px 40px;
        background-position: center;
      }
      &:nth-child(3) {
        background-image: url("../../../../../public/rektor-unram.jpg");
        background-size: cover;
        background-position: center;
      }
      h4 {
        color: #fff;
        font-size: 22px;
        text-align: center;
        line-height: 24px;
        z-index: 999;
        margin: 0;
        &.close-initial {
          display: none;
        }
      }
      .overlay {
        background-color: #3178a4;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.77;
        z-index: 0;
      }
      .lokasi-desc {
        position: absolute;
        color: #fff;
        font-weight: 500;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0.2s;
        &.open-desc {
          visibility: visible;
          opacity: 1;
          color: #fff;
          position: relative;
          z-index: 999;
          text-align: justify;
          padding: 0px 50px;
        }
      }
    }
  }
  @media screen and(max-width:1280px) {
    padding: 100px 30px;
    .lokasi {
      .item {
        &:nth-child(2) {
          margin: 0 20px;
        }
      }
    }
  }
  @media screen and(max-width:1025px) {
    padding: 100px 30px;
    .lokasi {
      justify-content: space-between;
      .item {
        .lokasi-desc {
          &.open-desc {
            line-height: 20px;
            padding: 0px 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media screen and(max-width:850px) {
    position: relative;
    .lokasi {
      flex-direction: column;
      position: relative;
      .item {
        width: 100%;
        &.clicked {
          padding: 0px;
        }
        &:nth-child(2) {
          margin: 20px 0px;
        }
        .lokasi-desc {
          h4 {
            font-size: 20px;
          }
          &.open-desc {
            font-size: 13px;
          }
        }
      }
    }
  }
  @media screen and(max-width:480px) {
    padding: 50px 30px;
    .title {
      margin-bottom: 50px;
    }

    .lokasi {
      justify-content: space-between;
      .item {
        .lokasi-desc {
          &.open-desc {
            line-height: 20px;
            padding: 0px 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media screen and(max-width:436px) {
    .lokasi {
      .item {
        .lokasi-desc {
          &.open-desc {
            h4 {
              font-size: 15px;
            }
            p {
              font-size: 13px;
            }
            line-height: 15px;
          }
        }
      }
    }
  }
  @media screen and(max-width:352px) {
    .lokasi {
      .item {
        .lokasi-desc {
          &.open-desc {
            h4 {
              font-size: 15px;
            }
            p {
              font-size: 10px;
            }
            line-height: 15px;
          }
        }
      }
    }
  }
}
