@mixin style {
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
    .text {
      color: #fff;
      h1 {
        margin: 0;
        font-size: 17px;
      }
      p {
        margin: 0;
        font-size: 10px;
      }
    }
  }
}
