@mixin style {
  .menu {
    ul {
      padding: 0;
      display: flex;
      color: #fff;
      li {
        font-weight: 700;
        list-style: none;
        font-size: 15px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 20px;
          background-color: #fff;
          width: 0%;
          height: 3px;
          transition: width 0.2s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      & > :not(:nth-child(3)) {
        margin-right: 30px;
      }
    }
  }
}
