@use "_logo.scss";
@use "_menu.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.header {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  @include logo.style;
  @include menu.style;
  .drawer-menu {
    display: none;
  }
  .drawer-menu-list {
    display: none;
  }
  @media screen and(max-width:900px) {
    .menu {
      display: none;
    }
    .drawer-menu {
      display: block;
      color: #fff;
      font-size: 25px;
      cursor: pointer;
    }

    .drawer-menu-list {
      z-index: 999;
      display: block;
      position: absolute;
      right: -250px;
      transition: right 0.3s ease-in-out;
      width: 250px;
      background-color: #fff;
      border-radius: 10px 0px 0px 10px;
      .close-drawer-menu {
        color: #024d74;
        position: relative;
        top: 7px;
        left: 7px;
        cursor: pointer;
        display: inline;
      }
      ul {
        padding: 0 30px;
        li {
          list-style: none;
          width: 185px;
          a {
            text-decoration: none;
            color: #024d74;
            & > div {
              display: flex;
              align-items: center;
              & svg {
                margin-right: 10px;
              }
            }
          }
          &:not(:nth-last-child(1)) {
            padding-bottom: 20px;
          }
          &:hover {
            a {
              font-weight: 700;
            }
          }
        }
      }
      &.open {
        right: 0;
      }
    }
  }
}
