.count {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  display: flex;
  font-size: 50px;
  color: #fff43f;
  font-weight: 900;
  & > div:not(:nth-last-child(1)) {
    margin-right: 20px;
    border-right: 1px solid #fff;
    padding-right: 20px;
  }
}
